{
    "swagger": "2.0",
    "host": "avidxchange-org2--org2ut.sandbox.my.salesforce.com:443",
    "basePath": "/services/apexrest",
    "schemes": [
        "https"
    ],
    "paths": {
        "/NintexSFPayment": {
            "post": {
                "operationId": "updatePayments",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                  {
                    "in": "body",
                    "name": "body",
                    "required": true,
                    "schema": {
                         "type": "array",
                          "items": {
                            "$ref": "#/definitions/Payment"
                        }
                    }
                  }
                ],
                "responses": {
                    "200": {
                        "description": "success",
                        "schema": {
                            "$ref": "#/definitions/success"
                            }
                        },
                    "400": {
                        "description": "message when payments is updated",
                        "schema": {
                            "$ref": "#/definitions/success"
                        }
                    }
                },
                "security": [
                  {
                    "oAuth2AuthCode": [
                      "full"
                    ]
                  }
                ]
            }
        }
    },
    "securityDefinitions":{
      "oAuth2AuthCode": {
        "type":"oauth2",
        "flows":"authorizationCode",
        "authorizationUrl":"https://avidxchange-org2--org2ut.sandbox.my.salesforce.com/services/oauth2/authorize",
        "tokenUrl": "https://avidxchange-org2--org2ut.sandbox.my.salesforce.com/services/oauth2/token",
        "scopes": {
          "full": "modify payments"
        }
      }
    },
    "definitions": {
       "Payment": {
      "required": [
        "id"
      ],
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "Payment_Status__c": {
          "type": "string"
        },
        "Payment_ONST_Approved_Date__c": {
          "type": "string", 
          "format": "date-time"
        },
        "Payment_ONST_Check__c": {
            "type": "string"
        }
      }
    },
    "Payments": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Payment"
      }
    },
    "success": {
      "type": "object",
      "properties": {
          "status": {
            "type": "string"
          },
          "message": {
              "type": "string"
          },
          "errorMessages": {
              "type": "array"
          }
      }
    }
  }
}
